
body,html{
    height: 100%!important;
    margin: 0;
    padding: 0;
    border: 0;
    overflow:hidden;
}

body {
  text-align: center;
  font-size: 2em;
}
p {
  text-align: center;
  font-size: 1em;
}

.wrapper {
  display: grid;
}
.video, .text {
  grid-area: 1 / 1;
}

.text{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  color: blueviolet;
}

#videorotator{
  position:relative;
  width:100%;
  
}
