
body,html{
    height: 100%!important;
    margin: 0;
    padding: 0;
    border: 0;
    overflow:hidden;
}

body {
  text-align: center;
  font-size: 2em;
}
p {
  text-align: center;
  font-size: 1em;
}

 .video {
        position: absolute;
        left: 0;
        top: 0;
         /*  Change the two values below to meet your requirements  */
        width: 50vw; 
        height: 100vh;
    }
    
    .video iframe {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    
/* If you want the overlay text style it here */

.video .overlay {
    font-size: 35px;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
}
